.BackArrowTopBar{
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #980000;
    width: 100%;
    height: 100px;
    color: white;
}

.backArrow:hover{
    cursor: pointer;
    background-color: rgba(185, 62, 62, 0.5);;
}

.backArrow{
    position: absolute;
    left: 0px;
}

.BackArrowTopBarTitle{
    position: absolute;
    left: 55px;
    bottom: -15px;
    font-family: 'Gothic A1', sans-serif;
}

.settings{
    position: absolute;
    right: 10px;
}