.Background{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #FFFCED;
}

.HomeScreen{
    position: relative;
    z-index: 0;
    top: 90px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    width: 100%;
    height: 480px;
}

.logo{
    position: relative;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(152, 0, 0, 0.5);
    border: none;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    color: black;
    font-family: 'Gothic A1', sans-serif;
    font-size: 25px;
    text-decoration: none;
}

@media (max-height: 476px) {
    .HomeScreen{
        height: 390px;
    }
    .button{
        width: 200px;
        height: 35px;
        font-size: 18px;
    }
}

.Dark{
    background-color: black;
    color: white;
}

.Dark a{
    color: white;
}

.Light{
    background-color: #FFFCED;
    color: black;
}

.Light a{
    color: black;
}

.Red{
    background-color: rgba(152, 0, 0, 0.5);
}

.Red:hover{
    background-color: rgba(163, 34, 34, 0.5);
}

.Blue{
    background-color: rgba(4, 83, 179, 0.5);
}

.Blue:hover{
    background-color: rgba(97, 137, 185, 0.5);
}

.Green{
    background-color: rgba(63, 174, 32, 0.5);
}

.Green:hover{
    background-color: rgba(105, 176, 85, 0.5);
}

.Yellow{
    background-color: rgba(246, 196, 16, 0.5);
}

.Yellow:hover{
    background-color: rgba(245, 214, 105, 0.5);
}

.Orange{
    background-color: rgba(244, 83, 14, 0.5);
}

.Orange:hover{
    background-color: rgba(248, 141, 96, 0.5);
}

.Pink{
    background-color: rgba(218, 76, 154, 0.5);
}

.Pink:hover{
    background-color: rgba(215, 130, 177, 0.5);
}

.Purple{
    background-color: rgba(138, 2, 165, 0.5);
}

.Purple:hover{
    background-color: rgba(166, 89, 181, 0.5);
}