.chaptersList{
    display: flex;
    flex-direction:column;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 115px;
    left: -20px;
}

.listItem{
    position: relative;
    left: 0px;
    width: 90vw;
    height: 90px;
    background-color: rgba(152, 0, 0, 0.5);
    list-style: none;
    border: none;
    border-radius: 25px;
}

.listItem:hover{
    background-color: rgba(163, 34, 34, 0.5);
}

.chapterId{
    position: relative;
    top: -10px;
    left: 10px;
    font-weight: normal;
    font-family: 'Gothic A1', sans-serif;
    font-size: 18px;
}

.chapterName{
    position: relative;
    left: 10px;
    top: -32px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: Bold;
    font-size: 30px;
}

.chapterDescription{
    position: relative;
    left: 15px;
    top: -55px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: normal;
    font-size: 15px;
}

@media (max-width: 375px){
    .chapterDescription{
        position: relative;
        left: 15px;
        top: -25px;
        font-family: 'Gothic A1', sans-serif;
        font-weight: normal;
        font-size: 13px;
    }
    .chapterName{
        position: relative;
        left: 10px;
        top: -15px;
        font-family: 'Gothic A1', sans-serif;
        font-weight: Bold;  
        display: block;
        width: 260px;
        font-size: 19px;
    }
}

@media (max-width: 320px){
    .chapterDescription{
        position: relative;
        left: 15px;
        top: -15px;
        font-family: 'Gothic A1', sans-serif;
        font-weight: normal;
        font-size: 11px;
    }
    .chapterName{
        position: relative;
        left: 10px;
        top: -12px;
        font-family: 'Gothic A1', sans-serif;
        font-weight: Bold;
        display: block;
        width: 224px;
        font-size: 17px;
    }
}

.progression{
    display: flex;
    position: absolute;
    background-color: #FFFCED;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    right: 10px;
    top: 20px;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: inherit;
}

@media (min-width: 425px) {
    .listItem{
        position: relative;
        left: 0px;
        width: 380px;
        height: 90px;
        background-color: rgba(152, 0, 0, 0.5);
        list-style: none;
        border: none;
        border-radius: 25px;
    }
}