.InLessonTopBar{
    display: flex;
    align-items: flex-end;
    position: fixed;
    z-index: 5;
    top: 0px;
    left: 0px;
    background-color: #980000;
    width: 100%;
    height: 100px;
    color: white;
}

.backArrow:hover{
    cursor: pointer;
}

.backArrow{
    position: absolute;
    left: 0px;
}

.InLessonTopBarTitle{
    position: absolute;
    left: 55px;
    bottom: 3px;
    font-size: 20px;
    font-family: 'Gothic A1', sans-serif;
}

.InLessonTopBarDescription{
    position: relative;
    left: 55px;
    top: 12px;
    font-size: 15px;
    font-family: 'Gothic A1', sans-serif;
}

.RedT{
    background-color: rgba(152, 0, 0);
}

.BlueT{
    background-color: rgba(4, 83, 179);
}

.GreenT{
    background-color: rgba(63, 174, 32);
}

.YellowT{
    background-color: rgba(246, 196, 16);
}

.OrangeT{
    background-color: rgba(244, 83, 14);
}

.PinkT{
    background-color: rgba(218, 76, 154);
}

.PurpleT{
    background-color: rgba(138, 2, 165);
}